Source: pikman
Section: admin
Priority: optional
Maintainer: ferreo <harderthanfire@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), golang-go
Standards-Version: 4.6.1
Homepage: https://pikaos.ferreo.dev

Package: pikman
Essential: yes
Architecture: amd64
Depends: ${misc:Depends},
         ${shlibs:Depends},
         flatpak,
         apx,
         pika-apx-configs,
         vanilla-apx-gui,
Conflicts: apx-subsystem-settings
Provides: apx-subsystem-settings
Replaces: apx-subsystem-settings
Description: One package manager to rule them all
